body {
    background-color: #F8F8FF;
}

nav {
    height: 50px;
}

ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
}

.itens {
    padding: 0px 0px 0px 20px;
}

.darkMode {
    background-color: #4F4F4F !important;
}

.darkMode2 {
    color: #FFFF00 !important;
}

.darkMode3 {
    color: #FFF !important;
}

.float {
    text-align: left;
}

.fontspan {
    font-size: 15px;
}

.logo {
    width: 10%;
    height: 10%;
}

.logo2 {
    width: 185px;
    height: 80px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.space {
    margin-bottom: 10px;
}

.back {
    color: #363636;
    font-weight: bold;
}