nav {
    height: 50px;
}

ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.darkMode {
    background-color: #4F4F4F !important;
}

.float {
    text-align: left;
}

.fontspan {
    font-size: 15px;
}

.logo {
    width: 10%;
    height: 10%;
}

.logo2 {
    width: 185px;
    height: 80px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.space {
    margin-bottom: 10px;
}

.back {
    color: #191970;
    font-size: 18px;
    font-weight: bold;
}